.list 
{
    
line-height: 1.2em;
    
}

    
.list 
{

        
font-family: arial;
        
font-style: italic;

       
 width:100%;

        
margin: 0 auto;
        
text-align: left;

        
color:Red;
        
font-size:30px;
        
font-weight: bold;
        
position: relative;


}